<header>
    <h1>Inicio</h1>
    <a href="/cart" class="btn btn-primary">Ver Carrito</a>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div class="products">
            <div class="products__controls">
                <select id="sort-select">
                    <option value="">Ordenar por título</option>
                    <option value="asc">Ascendente</option>
                    <option value="desc">Descendente</option>
                </select>
                <select id="category-select">
                    <option value="">Todas las categorías</option>
                    <!-- Las categorías se cargarán dinámicamente aquí -->
                </select>
                <select id="status-select">
                    <option value="">Todos los productos</option>
                    <option value="true">Activos</option>
                    <option value="false">Inactivos</option>
                </select>
                <select id="price-order-select">
                    <option value="">Ordenar por precio</option>
                    <option value="asc">Precio ascendente</option>
                    <option value="desc">Precio descendente</option>
                </select>
                <button id="btn-refresh-products-list">Recargar Lista</button>
            </div>
            <div class="products__grid" id="products-grid">
                <!-- productos  -->
            </div>
            <div class="products__pagination">
                <button id="btn-prev-page" disabled>Anterior</button>
                <span id="current-page">Página 1</span>
                <button id="btn-next-page">Siguiente</button>
            </div>
        </div>
    </section>
</main>
<script src="/api/public/js/products.js"></script>